.btn{
    padding: 10px 25px;
    background: transparent;
    border: 5px solid #0066cc;
    color: #0066cc;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    margin: 10px;
}
.btn:hover{
    background: #0066cc;
    color: #fff;
}